@import '../../scss/base/colors';

.clearCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border: none;
    border-radius: 7px;
    color: $color-0;
    padding: 10px 10px;
    font-size: 1rem;
    margin-right: .5rem;
    width: 20%;
    opacity: .5;

    &:hover {
        opacity: 1;
    }

    span {
        font-size: 0.85rem;
    }
}
.payCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    border: none;
    border-radius: 7px;
    color: $color-0;
    padding: 5px 10px;
    font-size: 1rem;
    width: 80%;
    text-decoration: none;

    span {
        margin-left: 0.5rem;
    }
    &:hover {
        color: rgb(176, 245, 176);
    }
}

.cartContainer {
    margin-top: 10px;
    display: grid;
    grid-gap: .85rem;
    grid-auto-flow: dense;
    grid-auto-rows:max-content;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

}

.cartView {
    height: calc(100vh);
    margin-bottom: 60px;
    max-width: 700px !important;
}

.totalSum {
    background: rgba($color-4, 0.5);
    border-radius: 7px;
    border: none;
    box-shadow: .5px .5px 5px .5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 8rem;
    padding: 3px;
    margin-top: 10px;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;

}

.buttonsCart {
    display: flex;
    flex-direction: row;
    width: 100%;
}