.detailCard {
    border-radius: 7px;
    overflow: hidden;
    border-radius: 7px;
    background: white;
    box-shadow: .5px .5px 5px .5px rgba(0, 0, 0, 0.2);

    .imgViewP {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 17rem;          
        
    }
    .imgDetail {
        width: 100%;
    }
    .detailBody {
        padding: 1.5rem;
    }
}
.detailDescription {
    padding: 1rem;
}

.finished{
    border-radius: 15px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    background: $color-6;
    color: white;
    margin-top: 5px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
}