.itemDetailContainer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &::before {
        position: absolute;
        content: '';
        height: 10rem;
        background: linear-gradient(rgba($color-9, 1)30%, rgba($color-8, 0.7)70%, rgba($color-7, 0) 100%);
        width: 100%;
        margin: 0;
        left: 0;
        top: 0;
        z-index: -1;
    }

}