// Paleta de Colores

$color-0: #ffffff;
$color-1: #ffedd8;
$color-1-5: #fff5ea; 
$color-2: #f3d5b5;
$color-3: #e7bc91;
$color-4: #d4a276;
$color-5: #bc8a5f;
$color-6: #a47148;
$color-7: #8b5e34;
$color-8: #6f4518;
$color-9: #583101;
