@import '../../scss/base/colors';

.titleCategory {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $color-8;
    letter-spacing: 1px;
    font-size: 1.15rem;
    text-align: center;
    margin: 1rem 0;
}
.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.15rem;
        text-align: center;
        font-weight: bolder;
        letter-spacing: 1px;
        padding: 0.5rem;
    }
    .categoryList {
        display: grid;
        grid-gap: .5rem;
        grid-auto-flow: dense;
        grid-auto-rows:max-content;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        width: 100%;

        .category {
            font-family: 'Montserrat';
            font-weight: bolder;
            font-size: 1.1rem;
            letter-spacing: 1px;
            text-decoration: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
            height: 80px;
            border-radius: 7px;
            color: $color-0;
            overflow: hidden;
            position: relative;
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);

            &:active {
                transform: scale(0.95);
            }
        }
        .categoryName {
            padding: 0.85rem;
            line-height: 1;
        }
        .imageCategory {
            overflow: hidden;
            padding: 0.85rem;
            
            img {
                display: block;
                z-index: -1;
                height: 90px;
            }
        }

        .c-1 {
            background: $color-3;
        }
        .c-2 {
            background: $color-5;
        }
        .c-3 {
            background: $color-8;
        }
        .c-4 {
            background: $color-6;
        }
    }
    
}