$font-size: 0.85rem;
$line-height: 1.5;
$lines: 2;



.cardProduct {
    border-radius: 7px;
    background: #fff5ea7a;
    position: relative;
    overflow: hidden;
    box-shadow: .5px .5px 5px .5px rgba(0, 0, 0, 0.2);
    min-height: 7rem;
    max-height: 7rem;

    @media only screen and (min-width: 992px) {
        min-height: 20rem;
        max-height: 20rem;
    }
    
    .imageProduct {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        min-height: 7rem;
        max-height: 7rem;

        @media only screen and (min-width: 992px) {
            min-height: 12rem;
            max-height: 12rem;
        }
        
        img {
            width: 100%;
        }
    }
    .cardBody {
        padding: .5rem;
        display: grid;
        grid-template-rows: subgrid ;
        grid-row: 4 ;


        .cardTitle {
            display: block;
            display: -webkit-box;
            height: $font-size * $line-height * $lines;
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
    
        }
        .cardCategory {
            font-weight: bold;
            font-size: $font-size;
            color: rgba( #000000, 0.5);
            margin: 0;
        }
        .cardPrice {
            font-size: 1.25rem;
            color: rgb(70, 129, 255);
            margin: 0;
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 3.5px;
        background: $color-7;
        right: 0;
        bottom: 0;

        @media only screen and (min-width: 992px) {
            height: 3.5px;
            width: 100%;
            background: $color-7;
            right: 0;
            bottom: 0;
        }
    }
}