@import '../../scss/base/colors';

.NavbarTop {
    width: 100%;
    background: $color-5;
    color: white;

    .link {
        color: white;
    }
}

.linkBrand {
    font-family: 'Montserrat', sans-serif;
    .brandCircle {
        font-size: 1rem;
    }
    
    .brandDeco {
        font-weight: normal;

    }
    .brandHome {
        font-weight: bold;
    }


}