@import '../../scss/base/colors';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#navbarContainer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    height: 68px;
    padding: 7px;
    background: linear-gradient(to top, rgba($color-0, 0.7), rgba($color-0, 0));

    

  }
  
  #navbar {
    width: 100%;
    height: 50px;
    background-color: $color-5;
    display: flex;
    align-items: center;
    border-radius: 7px;
    z-index: 100;

    
  }
  
  #bubbleWrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 18px;
    left: 0;
    padding: 7px;
  }
  
  .bubble {
    background: $color-6;
    width: 40px;
    height: 40px;
    bottom: 80px;
    border-radius: 7px;
    z-index: 999;
    transform: translateY(200%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
  }
  
  .icon {
    opacity: 0;
    color:  $color-0;
    text-decoration: none;
  }
  
  #bubble1 {
    transform: translateY(0%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  #bubble1 > span {
    opacity: 0.9;
    color: $color-0;
    text-decoration: none;
  }
  
  
  
  #bg {
    width: 120%;
    height: 100%;
    margin-left: -10%;
  }
  
  #bgBubble {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 25px;
    left: 17%;
    transform: translateX(-50%);
    background: rgba(#ffe75d, 0.8);
    box-shadow: 0 0 15px rgba(#ffe75d, 0.8),
                0 0 30px rgba(#ffe75d, 0.7),
                0 0 45px rgba(#ffe75d, 0.6),
                0 0 70px rgba(#ffe75d, 0.5);
    z-index: 1;
  }
  
  #menuWrapper {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 7px;
  }
  
  .menuElement {
    opacity: 0.4;
    cursor: pointer;
    font-size: 1.15rem;
    color: white;
    z-index: 1;
  }

  .menuElement:hover {
    opacity: 1;
  }
  
  #contentWrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contentWrapper h2 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .content {
    display: none;
    opacity: 0;
  }
  