.containerTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 1rem;
}
.containerProducts {
    display: grid;
    grid-gap: .85rem;
    grid-auto-flow: dense;
    grid-auto-rows:max-content;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    
}

.itemLink {
    text-decoration: none;
}

.itemList {
    margin-bottom: 75px;
}